body {
    font-family: Ubuntu;
    color: #404040;
    line-height: 1.4em;
    font-size: 14px;
}

header {
    padding: 0;
}

h1, h2, h3, h4 {
    text-align:left;
    display:inline-block;
    font-weight: normal;
    margin-left: 80px;
}

h3 {
    display: block;
    font-weight:bold;
}

h4 {
    font-family: Ubuntu;
    margin-left: 80px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #999;
}


ul {
    margin: 10px 0 10px 80px;
    padding-left: 20px;
}

li {
    color: #666666;
}

#address {
    display:inline-block;
    position:absolute;
    color: #808080;
    right: 20px;
    font-size: 0.9em;
}

#address li {
    display:block;
}

p {
    color: #666666;
    margin-left: 80px;
}

